/* src/index.css */
@import url("/fonts.css");
@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootscrollgutter;

  themes:
    light --default,
    dark --prefersdark;
}

/* app.css */
@theme {
  --font-vazir: "vazir";
}
